.textEditor {
  .menuBar {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      font-size: 18px;
      margin: 7px;
      margin-right: 15px;
      outline: none;
      border: none;
      background: none;
      color: rgb(70, 70, 70);
      cursor: pointer;
      &:last-child {
        margin-right: 7px;
      }
    }
    button.is_active {
      background: rgb(197, 197, 197);
      padding: 2px 3px;
      border-radius: 2px;
    }
  }
  .ProseMirror {
    > * + * {
      margin-top: 0.75em;
    }
    padding: 10px;
    border-top: 1px solid grey;
    background: white;
    border-radius: 0 0 5px 5px;
    min-height: 100px;
  
    &:focus {
        border: none;
        outline: 1px solid darkgray;
    }
  
    ul,
    ol {
      counter-reset: item;
      padding: 0 2rem;
    }
    ol > li > ol {
      list-style-type: lower-alpha;
    }
    ol > li > ol > li > ol {
      list-style-type: lower-roman;
    }

    p.is-editor-empty:first-child::before {
      color: #adb5bd;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      pointer-events: none;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.1;
    }
  
    code {
      background-color: rgba(#616161, 0.1);
      color: #616161;
    }
  
    pre {
      background: #0D0D0D;
      color: #FFF;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
  
      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    blockquote {
      padding-left: 1rem;
      border-left: 3px solid #999999;
    }
  
    hr {
      border: none;
      border-top: 3px solid #999999;
      margin: 2rem 0;
    }
  }
}